In [53]:
# import libraries
import os, sys
import string
import pandas as pd
try:
    import nltk
except:
    !conda install --yes --prefix {sys.prefix} nltk
    import nltk

# import modules
from utils.preprocessing import get_dataframe, label_encoding

In [54]:
# ver conteúdos da pasta
os.listdir()

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'BOA_project_description.pdf',
 'corpora',
 'corpora_preprocessing.ipynb',
 'LICENSE',
 'README.md',
 'requirements.txt',
 'utils']

In [55]:
authors = os.listdir("corpora/train")
authors

['AlmadaNegreiros',
 'CamiloCasteloBranco',
 'EcaDeQueiros',
 'JoseRodriguesSantos',
 'JoseSaramago',
 'LuisaMarquesSilva']

In [56]:
for author in authors:
    for excerto in [x for x in os.listdir(f"corpora/train/{author}") if x.endswith(".txt")]:
        print(f"corpora/train/{author}/{excerto}")

corpora/train/AlmadaNegreiros/pg22615.txt
corpora/train/AlmadaNegreiros/pg22730.txt
corpora/train/AlmadaNegreiros/pg22801.txt
corpora/train/AlmadaNegreiros/pg22802.txt
corpora/train/AlmadaNegreiros/pg22969.txt
corpora/train/AlmadaNegreiros/pg23133.txt
corpora/train/AlmadaNegreiros/pg23620.txt
corpora/train/AlmadaNegreiros/pg23879.txt
corpora/train/AlmadaNegreiros/pg23961.txt
corpora/train/CamiloCasteloBranco/24691-0.txt
corpora/train/CamiloCasteloBranco/34756-0.txt
corpora/train/CamiloCasteloBranco/pg16425.txt
corpora/train/CamiloCasteloBranco/pg17927.txt
corpora/train/CamiloCasteloBranco/pg19375.txt
corpora/train/CamiloCasteloBranco/pg21406.txt
corpora/train/CamiloCasteloBranco/pg23203.txt
corpora/train/CamiloCasteloBranco/pg23345.txt
corpora/train/CamiloCasteloBranco/pg23346.txt
corpora/train/CamiloCasteloBranco/pg24339.txt
corpora/train/CamiloCasteloBranco/pg25844.txt
corpora/train/CamiloCasteloBranco/pg26017.txt
corpora/train/CamiloCasteloBranco/pg26103.txt
corpora/train/CamiloCasteloBranco/pg26110.txt
corpora/train/CamiloCasteloBranco/pg26988.txt
corpora/train/CamiloCasteloBranco/pg27364.txt
corpora/train/CamiloCasteloBranco/pg27541.txt
corpora/train/CamiloCasteloBranco/pg28310.txt
corpora/train/CamiloCasteloBranco/pg31694.txt
corpora/train/CamiloCasteloBranco/pg33788.txt
corpora/train/EcaDeQueiros/pg18220.txt
corpora/train/EcaDeQueiros/pg25641.txt
corpora/train/EcaDeQueiros/pg27637.txt
corpora/train/EcaDeQueiros/pg31347.txt
corpora/train/EcaDeQueiros/pg40409.txt
corpora/train/JoseRodriguesSantos/A Filha Do Capitao - Jose Rodrigues dos Santos.txt
corpora/train/JoseRodriguesSantos/A Formula De Deus - Jose Rodrigues dos Santos.txt
corpora/train/JoseRodriguesSantos/A Mao do Diabo - Jose Rodrigues dos Santos.txt
corpora/train/JoseRodriguesSantos/A Vida Num Sopro - Jose Rodrigues dos Santos.txt
corpora/train/JoseRodriguesSantos/Furia Divina - Jose Rodrigues dos Santos.txt
corpora/train/JoseRodriguesSantos/O Anjo Branco - Jose Rodrigues dos Santos.txt
corpora/train/JoseRodriguesSantos/O Setimo Selo - Jose Rodrigues dos Santos.txt
corpora/train/JoseRodriguesSantos/O ultimo Segredo - Jose Rodrigues dos Santos.txt
corpora/train/JoseSaramago/A Caverna - Jose Saramago.txt
corpora/train/JoseSaramago/As Intermitencias da Morte - Jose Saramago.txt
corpora/train/JoseSaramago/Caim - Jose Saramago.txt
corpora/train/JoseSaramago/Claraboia - Jose Saramago.txt
corpora/train/JoseSaramago/Ensaio Sobre a Cegueira - Jose Saramago.txt
corpora/train/JoseSaramago/Historia Do Cerco De Lisboa - Jose Saramago.txt
corpora/train/JoseSaramago/Memorial Do Convento - Jose Saramago.txt
corpora/train/JoseSaramago/O Ano Da Morte De Ricardo Reis - Jose Saramago.txt
corpora/train/JoseSaramago/O Conto Da Ilha Desconhecida - Jose Saramago.txt
corpora/train/JoseSaramago/O Homem Duplicado - Jose Saramago.txt
corpora/train/JoseSaramago/Terra Do Pecado - Jose Saramago.txt
corpora/train/JoseSaramago/Viagem Do Elefante - Jose Saramago.txt
corpora/train/LuisaMarquesSilva/ABelaHistoria.txt
corpora/train/LuisaMarquesSilva/acabouSe.txt
corpora/train/LuisaMarquesSilva/Botão.txt
corpora/train/LuisaMarquesSilva/controlz.txt
corpora/train/LuisaMarquesSilva/emedo.txt
corpora/train/LuisaMarquesSilva/Lisboa2050.txt
corpora/train/LuisaMarquesSilva/passeioInferno.txt
corpora/train/LuisaMarquesSilva/rapsodiasemdo.txt
corpora/train/LuisaMarquesSilva/UltimaHistoria.txt

In [104]:
train = get_dataframe(path_to_train="corpora/train/", author_list=authors,
                      preserve_blank_lines=False, join_every_line=False,
                      separator="")

train.head()

                                                text           author
0  [Title: A Scena do Odio, Author: José de Almad...  AlmadaNegreiros
1  [Title: O Jardim da Pierrette, Author: José de...  AlmadaNegreiros
2  [Title: A Invenção do Dia Claro, Author: José ...  AlmadaNegreiros
3  [Title: Litoral, A Amadeo de Souza Cardozo, Au...  AlmadaNegreiros
4  [EXPOSIÇÃO, +amadeo, de souza, cardoso+, LIGA ...  AlmadaNegreiros

In [156]:
train = get_dataframe(path_to_train="corpora/train/", author_list=authors,
                      preserve_blank_lines=False, join_every_line=True,
                      separator=" ")

# add new features
train['comma_count'] = train["text"].str.count(",")
train["word_count"] = train['text'].str.split().str.len()
train['char_count'] = train["text"].str.len()

# reorder columns
ycol = "author"
Xcols = list(set(train.columns) - set([ycol]))
Xcols.append(ycol)
train = train[Xcols]

train

,text,comma_count,char_count,word_count,author
0,Title: A Scena do Odio Author: José de Almada ...,118,10807,1777,AlmadaNegreiros
1,Title: O Jardim da Pierrette Author: José de A...,7,1910,318,AlmadaNegreiros
2,Title: A Invenção do Dia Claro Author: José de...,264,33745,6038,AlmadaNegreiros
3,Title: Litoral A Amadeo de Souza Cardozo Autho...,1,4166,655,AlmadaNegreiros
4,EXPOSIÇÃO +amadeo de souza cardoso+ LIGA NAVAL...,29,3418,579,AlmadaNegreiros
...,...,...,...,...,...
58,Título e-medo Autora (inspiradíssima) Luísa Ma...,506,52116,9365,LuisaMarquesSilva
59,"LISBOA 2050 Lisboa, ano de 2050. Um Agosto tão...",176,19418,3570,LuisaMarquesSilva
60,Título Um passeio pelo inferno Autora Luísa Ma...,81,6086,1069,LuisaMarquesSilva
61,Título Rapsódia sem dó (maior) Autora Luísa Ma...,253,25656,4349,LuisaMarquesSilva
62,Título A última história Autora (próximo Nobel...,600,37597,6659,LuisaMarquesSilva

In [38]:
train["author"].unique()

array(['AlmadaNegreiros', 'CamiloCasteloBranco', 'EcaDeQueiros',
       'JoseRodriguesSantos', 'JoseSaramago', 'LuisaMarquesSilva'],
      dtype=object)

In [17]:
train.head()

                                                text           author
0  Title: A Scena do OdioAuthor: José de Almada N...  AlmadaNegreiros
1  Title: O Jardim da PierretteAuthor: José de Al...  AlmadaNegreiros
2  Title: A Invenção do Dia ClaroAuthor: José de ...  AlmadaNegreiros
3  Title: LitoralA Amadeo de Souza CardozoAuthor:...  AlmadaNegreiros
4  EXPOSIÇÃO+amadeode souzacardoso+LIGA NAVAL DE ...  AlmadaNegreiros

In [6]:
# codificação da coluna y para fornecer ao futuro modelo
train = label_encoding(train, "author")
train

                                                 text  author
0   Title: A Scena do OdioAuthor: José de Almada N...       0
1   Title: O Jardim da PierretteAuthor: José de Al...       0
2   Title: A Invenção do Dia ClaroAuthor: José de ...       0
3   Title: LitoralA Amadeo de Souza CardozoAuthor:...       0
4   EXPOSIÇÃO+amadeode souzacardoso+LIGA NAVAL DE ...       0
..                                                ...     ...
58  Títuloe-medoAutora (inspiradíssima)Luísa Marqu...       5
59  LISBOA 2050Lisboa, ano de 2050. Um Agosto tão ...       5
60  TítuloUm passeio pelo infernoAutoraLuísa Marqu...       5
61  TítuloRapsódia sem dó (maior)AutoraLuísa Marqu...       5
62  TítuloA última históriaAutora (próximo Nobel)L...       5

[63 rows x 2 columns]

In [39]:
train.head()

                                                text           author
0  Title: A Scena do Odio|Author: José de Almada ...  AlmadaNegreiros
1  Title: O Jardim da Pierrette|Author: José de A...  AlmadaNegreiros
2  Title: A Invenção do Dia Claro|Author: José de...  AlmadaNegreiros
3  Title: Litoral|A Amadeo de Souza Cardozo|Autho...  AlmadaNegreiros
4  EXPOSIÇÃO|+amadeo|de souza|cardoso+|LIGA NAVAL...  AlmadaNegreiros

In [51]:
train["punctuation"] = 0

In [52]:
train

,text,author,punctuation
0,Title A Scena do OdioAuthor José de Almada Neg...,AlmadaNegreiros,0
1,Title O Jardim da PierretteAuthor José de Alma...,AlmadaNegreiros,0
2,Title A Invenção do Dia ClaroAuthor José de Al...,AlmadaNegreiros,0
3,Title LitoralA Amadeo de Souza CardozoAuthor J...,AlmadaNegreiros,0
4,EXPOSIÇÃOamadeode souzacardosoLIGA NAVAL DE LI...,AlmadaNegreiros,0
...,...,...,...
58,TítuloemedoAutora inspiradíssimaLuísa Marques ...,LuisaMarquesSilva,0
59,LISBOA 2050Lisboa ano de 2050 Um Agosto tão ge...,LuisaMarquesSilva,0
60,TítuloUm passeio pelo infernoAutoraLuísa Marqu...,LuisaMarquesSilva,0
61,TítuloRapsódia sem dó maiorAutoraLuísa Marques...,LuisaMarquesSilva,0
62,TítuloA última históriaAutora próximo NobelLuí...,LuisaMarquesSilva,0

In [49]:
def remove_punctuation(text):
    """
        Greedy removal of all the punctuation from a list of text lines.
        However, it also removes the email and website punctuation, making
        them hard to recognise.
        Returns a list of text lines without punctuation.
    """
    no_punct_text = []
    for line in text:
        no_punct = "".join([char for char in line if char not in string.punctuation])
        no_punct_text.append(no_punct)
    return "".join(no_punct_text)


# cada vez que uma nova função for criada, introduzi-la em "clean_text()"
def clean_text(df, text_col=str):
    """
        Compiles all the preprocessing functions inside a single function.
    """
    df[text_col] = df[text_col].apply(remove_punctuation)
    return df

In [50]:
train = clean_text(train, "text")
train

                                                 text             author
0   Title A Scena do OdioAuthor José de Almada Neg...    AlmadaNegreiros
1   Title O Jardim da PierretteAuthor José de Alma...    AlmadaNegreiros
2   Title A Invenção do Dia ClaroAuthor José de Al...    AlmadaNegreiros
3   Title LitoralA Amadeo de Souza CardozoAuthor J...    AlmadaNegreiros
4   EXPOSIÇÃOamadeode souzacardosoLIGA NAVAL DE LI...    AlmadaNegreiros
..                                                ...                ...
58  TítuloemedoAutora inspiradíssimaLuísa Marques ...  LuisaMarquesSilva
59  LISBOA 2050Lisboa ano de 2050 Um Agosto tão ge...  LuisaMarquesSilva
60  TítuloUm passeio pelo infernoAutoraLuísa Marqu...  LuisaMarquesSilva
61  TítuloRapsódia sem dó maiorAutoraLuísa Marques...  LuisaMarquesSilva
62  TítuloA última históriaAutora próximo NobelLuí...  LuisaMarquesSilva

[63 rows x 2 columns]

[in progress] ***brainstorm* de features interessantes:**
- número de caracteres por linha
- número de caracteres especiais por linha
- número de vírgulas por frase
- número de reticências por linha